@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
  --speed-slow: 1.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/background-ux.jpeg);
  background-size: cover;
  height: 100vh;
}

a.dust-btn {
  position: relative;
  width: 180px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  transition: var(--speed-normal);
  border: 1px solid var(--color-red);
  color: #fff;
}

a.dust-btn.clicked {
  pointer-events: none;
  border: 1px solid transparent;
  background: transparent url(../images/button.jpeg);
  transition-delay: 0.8s;
  background-size: 180px;
  background-repeat: no-repeat;
  animation: animate var(--speed-fast) steps(8) forwards;
}

a.stay-btn {
  position: relative;
  width: 180px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  transition: var(--speed-normal);
  border: 1px solid var(--color-red);
  color: #fff;
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -550px;
    color: transparent;
  }
}

.btn-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  gap: 80px;
}

.img-container {
  max-height: 60%;
  margin-bottom: 30px;
}

img {
  height: 100%;
  /* animation: snap-img var(--speed-slow) forwards; */
}

img.snap-img {
  animation: snap-img var(--speed-slow) forwards;
}

@keyframes snap-img {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}